$innerWidth: 40rem;
$innerMargin: 1rem;
$outerWidth: ($innerWidth + 2 * $innerMargin);
$paragraphSpacing: 1em;
$uiShadow: 0.25rem 0.25rem 1rem #00000020;
$lineHeight: 1.618;
$remSize: 16px;
$headerHeight: 3.5rem;
@function prettyBorder($direction) {
    @return linear-gradient($direction, orange, magenta 150%) 1;
}

@mixin blur-backdrop($blur-radius, $fallback) {
    background: $fallback;
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        -webkit-backdrop-filter: blur($blur-radius);
        backdrop-filter: blur($blur-radius);
        background: rgba($fallback, 0.4);
    }
}
