@import 'definitions';

header {
    @include blur-backdrop(8px, white);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $uiShadow;
    .inner-header, .menu {
        display: grid;
        height: $headerHeight;
        grid-column-gap: 1em;
        grid-row-gap: 0;
        align-items: center;
        grid-template-rows: 1fr;
    }
    .inner-header {
        max-width: $innerWidth;
        margin: 0 auto 0;
        padding: 0 1em 0;
        grid-template-columns: auto max-content;
    }
    .menu {
        grid-template-columns: repeat(5, max-content);
        margin: 0;
        padding: 0;
        justify-self: end;
    }
    .menu > * {
        justify-self: end;
        margin: 0;
        display: block;
    }
}
