@import 'definitions';

.header-backdrop {
    display: block;
    width: 100%;
    // width: $outerWidth;
    top: $headerHeight - 0.1rem;
    // left: 50%;
    // margin-left: -21rem;
    height: 0.1rem;
    position: fixed;
    background: linear-gradient(to left, orange, magenta 150%);
    z-index: 1;
}
header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    box-shadow: $uiShadow;
    .inner-header, .menu {
        display: grid;
        height: $headerHeight;
        grid-column-gap: 1em;
        grid-row-gap: 0;
        align-items: center;
        grid-template-rows: 1fr;
    }
    .inner-header {
        max-width: $innerWidth;
        margin: 0 auto 0;
        padding: 0 1em 0;
        grid-template-columns: auto max-content;
    }
    .menu {
        grid-template-columns: repeat(5, max-content);
        margin: 0;
        padding: 0;
        justify-self: end;
    }
    .menu > * {
        justify-self: end;
        margin: 0;
        display: block;
    }
}
