$columnWidth: 40rem;
$articleMargin: 1rem;
$articleWidth: ($columnWidth + 2 * $articleMargin);
$paragraphSpacing: 1em;
html {
    font-size: 16px;
    line-height: 1.618;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}
body {
    margin: 0;
    background: white;
}
main {
    display: flex;
    justify-content: center;
}
article {
    max-width: $articleWidth;
}
article > * {
    margin: 0 $articleMargin 0;
    max-width: $columnWidth;
}
article * {
    margin-top: 0;
    margin-bottom: $paragraphSpacing;
}
br {
    margin-bottom: 0;
}
pre {
    padding: 1em;
}
blockquote {
    margin-top: $paragraphSpacing;
    padding: 1em;
    padding-left: 0.75em;
    border: 0 solid;
    border-left: 0.25em solid;
    //border-image: linear-gradient(180deg, lightblue, rgb(0, 156, 156)) 0 0 0 1;
    // I really like whatever pink is created when orange and magenta are mixed
    // 33% orange 66% magenta
    border-image: linear-gradient(180deg, orange, magenta 150%) 1;
    background: white;
    font-style: italic;
    text-align: center;
}
blockquote,
img,
.iframe-container {
    box-shadow: 0.5rem 0.5rem 2rem #e0e0e0;
}

blockquote *:first-child {
    margin-top: 0;
}
blockquote *:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 0em;
}
li {
    margin: 0 0 0 0em;
}
hr {
    max-width: 10em;
}
img {
    display: block;
}
.aside {
    float: right;
    width: 30%;
    font-size: 0.9em;
    max-width: 20em;
    min-width: 10em;
    margin-left: $articleMargin;
}
@counter-style uwu {
    system: cyclic;
    symbols: "w" "ww" "www" "wwww" "wwwww" "wwwwww" "wwwwwww" "wwwwwwww";
    prefix: "u";
    suffix: "u ~ ";
}
article {
    ul {
        list-style-type: "—  ";
        // list-style-type: "🐈  ";
        // list-style-type: "~  ";
        // list-style-type: uwu ;
    }
    img {
        width: 100%;
        height: auto;
        border: none;
    }
    .iframe-container {
        position: relative;
    }
    .iframe-container > img {
        display: block;
        visibility: hidden;
    }

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wide {
        max-width: none;
    }
}
.unpadded {
    margin-left: auto;
    margin-right: auto;
}

// @media screen and (max-width: $articleWidth) {}
.title {
    text-align: center;
}
